[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
extract-java-methods = "python tools/extract-java-methods.py"

[dev-packages]

[packages]
jupyter = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
spacy = "*"
tqdm = ">4.33.0"
seaborn = "*"
javalang = "*"
pipe = "*"
tensorflow = "*"
sklearn = "*"

[requires]
python_version = "3.7"
